﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">

               <div>
                        <h2>Todos Los Productos</h2>
                        <ul id="products" />
              </div>
              <div>
                <h2>Buscar por ID</h2>
                <input type="text" id="prodId" size="5" />
                <input type="button" value="Search" onclick="find();" />
                <p id="product" />
            </div>
          

            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
             <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <script>
           
                            var uri = 'api/Productos';

                            $(document).ready(function () {
                                // Send an AJAX request
                                $.getJSON(uri)
                      .done(function (data) {
                          // On success, 'data' contains a list of products.
                          $.each(data, function (key, item) {
                              // Add a list item for the product.
                              $('<li>', { text: formatItem(item) }).appendTo($('#products'));
                          });
                      });
                            });

                  function formatItem(item) {
                                return item.nombre +' -  '+item.Categoria +' -  '+ '$' + item.Precio;
                            }

                            function find() {
                                var id = $('#prodId').val();
                                $.getJSON(uri + '/' + id)
                      .done(function (data) {
                          $('#product').text(formatItem(data));
                      })
                      .fail(function (jqXHR, textStatus, err) {
                          $('#product').text('Error: ' + err);
                      });
                  }

            </script>


        </div>
    </section>

    <br />
    <br />

    <section class="featured">
        <div class="content-wrapper">
            
            <div>
                        <h2>Seguridad con Tokens</h2>
                        <ul id="products" />
              </div>

             <div class="jumbotron">
           
                <p class="lead">ASP.NET Autentificacion.</p>
                <p><input type="button" id="btnGetData" class="btn btn-primary btn-lg" value="GetData" /></p>
            </div>

             <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
             <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <script>

                $("#btnGetData").on("click", function () {
                    getData();
                });

                function getData() {
                    $.ajax({
                        url: "/api/values",
                        method: "get",
                        contentType: "application/json",
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (e) {
                            if (e.status === 401)
                                alert('No autorizado');
                            console.log(e);
                        }
                    });
                }
            </script>

        </div>
    </section>

    <br />
    <br />
    <section class="featured">
        <div class="content-wrapper">
            <div>
                        <h2>Mongo con C#</h2>
                        <h3>Listado de Peliculas</h3>
                        <ul id="products" />
              </div>
              <table border="01" style="border: 1px solid #000;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Año</th>
            </tr>
        </thead>

        <tbody>
         @foreach (var list in ViewBag.listaDatos)
         { 
            <tr>
                <td>@list.nombre</td>
                <td>@list.genero</td>
                <td>@list.anio</td>
            </tr>
         }
        </tbody>
    </table>

        </div>
    </section>

     <br />
    <br />
    <section class="featured">
        <div class="content-wrapper">
             <div>
                        <h2>Metodo Asincronos</h2>
                       
              </div>
              
        </div>
        <div>
            <p>@ViewData["Operation1"] </p>
            <p>@ViewData["Operation2"]</p>
        </div>

    </section>


</div>
